################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/eloquentJavaScript/CopilotIndices/17.12.53.23981
/.vs/eloquentJavaScript/FileContentIndex
/.vs/eloquentJavaScript/v17
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs
